**/node_modules
dist/
**/**/*.log
env/

# Circom build
src/services/circom/credit_score_js
src/services/circom/powersoftau
src/services/circom/*.r1cs
src/services/circom/*.sym
src/services/circom/input.json

node_modules

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
